#login-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.log {
  width: 30%;
  padding: 30px 20px;
  position: fixed;
  top: 40%;
  left: 35%;
  background-image: url("./17580-scaled-1150x767.jpg");
  border: 2px solid;
}

.login-header {
  width: 30%;
  padding: 30px 20px;
  position: fixed;
  top: -20%;
  left: 22%;
}
.login-header2 {
  width: 30%;
  padding: 30px 20px;
  position: fixed;
  top: 83%;
  left: 60%;
}
.submit-button {
  top: 75%;
  left: 48%;
  background-color: coral !important;
}
.tbl {
  position: fixed;
  top: -10%;
  left: 45%;
  color: cornflowerblue;
}

.form-img {
  background-size: 100% 100%;
}
.avatar-icon {
  left: 1585%;
}
.tbl-pro {
  font-family: Tahoma, Verdana, sans-serif;
}
.add-but {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: gainsboro;
  font-weight: bold;
}
.edit-but2 {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: gainsboro;
  font-weight: bold;
}
.rem-but {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: gainsboro;
  font-weight: bold;
}
.photo-but {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: gainsboro;
  font-weight: bold;
}
.login-header3 {
  width: 30%;
  padding: 30px 20px;
  position: fixed;
  top: 83%;
  left: 65%;
}
.but-sub {
  font-family: Tahoma, Verdana, sans-serif;
  color: black;
  background-color: gainsboro;
  width: 100px;
  top: 69%;
  left: 31%;
}
.but-frm {
  background-color: gainsboro !important;
  width: 300px;
  padding: 10px 10px;
  top: 55%;
  left: 31.5%;
}
.desc-frm {
  background-color: gainsboro;
  width: 400px;
  padding: 10px 10px;
  position: static;
  top: 25%;
  left: 21%;
}
.pro-frm {
  background-color: gainsboro !important;
  width: 400px;
  padding: 10px 10px;
}
.edit-but2 {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: gainsboro !important;
  font-weight: bold;
}
.cancel-but {
  font-family: Tahoma, Verdana, sans-serif;
  background-color: gainsboro !important;
  font-weight: bold;
}
.product-img4 {
  width: 30%;
  padding: 30px 20px;
  position: fixed;
  top: 14%;
  left: 36%;
}
.product-img5 {
  width: 30%;
  padding: 30px 20px;
  position: fixed;
  top: 14%;
  left: 45%;
}
.product-img6 {
  width: 30%;
  padding: 30px 20px;
  position: fixed;
  top: 14%;
  left: 55%;
}
#root {
  background-color: #E4E6F2;
  width: 100%;
  padding-bottom: 12px;
}
#header_logo_img {
  height: 26px;
  margin: 16px 20px 16px 18px;
}
.frm {
  width: 52%;
  /*height: 100%;*/
  margin: 12px auto;
  background-color: white;
  /*padding: 14px;*/
  border-radius: 2px;
  border: 1px solid #F4F4F4;
}
.form_header{
  height: 60px;
  background-color: #0A1551;
  display: block;
  width: 100%;
}
.edit-but {
  background-color: #1E9DEA;
  height: 32px;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}
.add-product-but {
  background-color: #0A1551;
  height: 32px;
  color: #fff;
  font-size: 13px;
  border-radius: 3px;
}
.table-item {
  border-bottom: 1px solid #F4F4F4;
  /*margin: 2px 14px 0px 14px;*/
  padding: 14px;
}
.table-title {
  background-color: #f4f6ff;
}
.table-title-item{
  padding: 14px;
}
